@font-face {
  font-family: 'Maax-Regular';
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/maax-webfont.woff2') format('woff2'),
        url('../fonts/maax-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Butler';
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/butler.woff2') format('woff2'),
        url('../fonts/butler.woff') format('woff');
}

.toggleFlip {
    font-family: 'Maax-Regular';
    max-width: 850px;
    margin: 0 auto;
    @include breakpoint (tablet-wide) {
        perspective: 2000px;
        background: $white;
        margin: 40px auto;
    }
}

.toggleFlip__inner {
     @include breakpoint (tablet-wide) {
        transform-style: preserve-3d;
        transition: transform 0.5s;
        position: relative;
    }
    &.flipped {
        @include breakpoint (tablet-wide) {
            transform: rotateY(-180deg);
        }
    }
    a {
        color: $white;
        text-decoration: underline;
        &:hover {
            opacity: 0.8;
        }
    }
}

.toggleFlip__inner__front {
    backface-visibility: hidden;
    position: relative;
}

.toggleFlip__inner__back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: white;
    @include breakpoint (tablet-wide) {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 90px 40px 40px;
        transform: rotateY(-180deg);
    }
    .toggleFlip--pink & {
        background: $pink-alpha;
    }
    .toggleFlip--green & {
        background: $green-alpha;
    }
    .toggleFlip--yellow & {
        background: $yellow-alpha;
    }
    p {
        margin: 10px 0;
        letter-spacing: 0.10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}


.toggleFlip__button {
    display: none;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 140px;
    height: 140px;
    line-height: 140px;
    background: green;
    text-align: center;
    font-weight: 700;
    border-radius: 999px;
    color: rgba(0,0,0,0.4);
    box-shadow: inset -3px -15px 45px rgba(0,0,0,0.25),
                1px 5px 10px -4px rgba(0,0,0,0.25);
    transition: 0.05s ease-out;
    transform-origin: center center;
    @include breakpoint (tablet-wide) {
        display: block;
    }
    .toggleFlip--pink & {
        background: $red-alpha;
    }
    .toggleFlip--green & {
        background: $pink-alpha;
    }
    .toggleFlip--yellow & {
        background: $green-alpha;
    }
}

.toggleFlip__button:active {
    color: rgba(0,0,0,0.4);
    text-shadow: 1px 1px 0px rgba(255,255,255,0.15);
    box-shadow: inset 0 0 25px rgba(0,0,0,0.55),
                inset -1px -1px 2px rgba(0,0,0,0.15);
    transform: translate(50%, -50%) scale(0.98);
}

.toggleFlip__inner__back__heading {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.15px;
    margin-bottom: 10px;
    font-family: 'Butler';
    @include breakpoint (tablet-wide) {
        font-size: 30px;
    }
}