@font-face {
  font-family: 'Maax-Regular';
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/maax-webfont.woff2') format('woff2'),
        url('../fonts/maax-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Maax-Medium';
  font-weight: 500;
  font-display: swap;
  src:  url('../fonts/maax-medium-webfont.woff2') format('woff2'),
        url('../fonts/maax-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Butler';
  font-weight: 400;
  font-display: swap;
  src:  url('../fonts/butler.woff2') format('woff2'),
        url('../fonts/butler.woff') format('woff');
}

.toggleFlip {
    font-family: 'Maax-Regular';
    max-width: 850px;
    margin: 0 auto;
    @include breakpoint (tablet-wide) {
        perspective: 2000px;
        background: $white;
        margin: 40px auto;
    }
}

.toggleFlip__inner {
     @include breakpoint (tablet-wide) {
        transform-style: preserve-3d;
        transition: transform 0.5s;
        position: relative;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
    &.flipped {
        @include breakpoint (tablet-wide) {
            transform: rotateY(-180deg);
        }
    }
    a {
        color: #222;
        text-decoration: underline;
        @include breakpoint (tablet-wide) {
            color: $white;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.toggleFlip__inner__front {
    backface-visibility: hidden;
    position: relative;
}

.toggleFlip__inner__back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #222;
    @include breakpoint (tablet-wide) {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 90px 40px 40px;
        transform: rotateY(-180deg);
        color: white;
        .toggleFlip--pink & {
            background: $red-alpha;
        }
        .toggleFlip--green & {
            background: $green-alpha;
        }
        .toggleFlip--yellow & {
            background: $yellow-alpha;
        }
    }
    p {
        margin: 10px 0;
        letter-spacing: 0.3px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}


.toggleFlip__button {
    display: none;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 90px;
    height: 90px;
    text-align: center;
    font-family: 'Maax-Medium';
    font-size: 14px;
    line-height: 1;
    border-radius: 999px;
    border: 3px solid #ECE1BC;
    background: #ECE1BC;
    color: #4a4a4a;
    transition: 0.15s ease-out;
    transform-origin: center center;
    @include breakpoint (tablet-wide) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.toggleFlip__button:active {
    background: $white;
}

.toggleFlip__inner__back__heading {
    margin-bottom: 10px;
    font-family: 'Butler';
    font-size: 36px;
    line-height: 1.18;
    letter-spacing: 0.4px;
    @include breakpoint (tablet-wide) {
        font-size: 50px;
        letter-spacing: 0.6px;
    }
}